/* 
    Created on : 01-Dec-2017, 21:39:12
    Author     : Pradhaban
*/

@font-face {
    font-family: 'TitilliumWeb-Light';
    font-style: normal;
    font-weight: 400;
    src: local('TitilliumWeb-Light'), local('TitilliumWeb-Light'), url('../fonts/TitilliumWeb-Light.ttf') format('ttf');
}

body > *{
    outline: none;
}

.fh-divider-horizontal{
    border-bottom: 2px solid cadetblue;
}

.fh-divider-vertical{
    border-right: 1px solid #ececec;
}

.fh-sidebar{
    height: 90vh;
    padding: 0px;
}

.fh-drawArea{
    min-height: 100%;
    border: 1px solid #ccc;
    border-top: none;
    margin: 0vh auto;
    width: 100%;
}

.fh-canvas{
    width: 150vh;
    height: 85vh;
}

.fh-outerbar {
    min-height: 25px;
    border-bottom: 1px solid #ebebeb;
}

.fh-canvas-title{
    color: #fff;
    text-align: center;
    font-size: 16px;
    max-width: 15%;
    background: #ccc;
    outline: none;
    font-family: verdana;
    line-height: 26px;}

.fh-listBtn{
    outline: none;
    min-width: 50px;
    margin: 1px;
    border: none;
    min-height: 50px;
    background: transparent;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 2px cadetblue; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(95,158,160,0.5);
    -webkit-box-shadow: 0 0 2px cadetblue; 
}