/* 
    Created on : 01-Dec-2017, 21:39:12
    Author     : Pradhaban
*/

body > *{
    outline: none;
}

.fh-divider-horizontal{
    border-bottom: 1px solid #ececec;
}

.fh-divider-vertical{
    border-right: 1px solid #ececec;
}

.fh-sidebar{
    height: 90vh;
}

.fh-drawArea{
     min-height: 83vh;
    border: 1px solid #ccc;
    margin: 0vh auto;
    width: 150vh;
}

.fh-canvas{
    width: 150vh;
    height: 85vh;
}

.fh-outerbar {
    min-height: 25px;
    background: #ccc;
}

.fh-canvas-title{
    color: #fff;
    text-align: center;
    font-size: 16px;
    width: 100%;
    outline: none;
    font-family: verdana;
    line-height: 26px;
}

.fh-listBtn{
    outline: none;
}