/* 
    Created on : 01-Dec-2017, 21:39:12
    Author     : Pradhaban
*/

body > *{
    outline: none;
}

.fh-divider-horizontal{
    border-bottom: 1px solid #c7c7c7;
}

.fh-divider-vertical{
    border-right: 1px solid #ececec;
}

.fh-sidebar{
    height: 90vh;
    padding: 0px;
}

.fh-drawArea{
    min-height: 100%;
    border: 1px solid #ccc;
    border-top: none;
    margin: 0vh auto;
    width: 100%;
}

.fh-canvas{
    width: 150vh;
    height: 85vh;
}

.fh-outerbar {
    min-height: 25px;
    border-bottom: 1px solid #ebebeb;
}

.fh-canvas-title{
    color: #fff;
    text-align: center;
    font-size: 16px;
    max-width: 20%;
    background: #ccc;
    outline: none;
    font-family: verdana;
    line-height: 26px;}

.fh-listBtn{
    outline: none;
}