<!DOCTYPE html>
<!--
Main HTML file for app
-->
<html ng-app="freehand">
    <head>
        <title>Free Hand - APP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/index.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row fh-divider-horizontal fh-menu">
                <div class="col-md-5 fh-actionbar">
                    <button class="btn btn-sm btn-toolbar fh-btn fa fa-plus"></button>
                    <button class="btn btn-sm btn-toolbar fh-btn fa fa-folder-open"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 fh-divider-vertical fh-sidebar" ng-controller="sidebarCtrl as sc">
                    <div class="list-group">
                        <button ng-repeat="item in sc.sidebarValues" ng-click="sc.createEle(item)" type="button" class="list-group-item">{{item.value}}</button>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="fh-drawArea" ng-controller="drawCtrl as dc" ng-init="dc.intialize()">
                        <div class="fh-outerbar">
                            <div class="fh-canvas-title">
                                Browser - <span contenteditable="true">Your App title</span>
                            </div>
                        </div>
                        <canvas class="fh-canvas" id="fhCanvas"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!--        Libraries-->

        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/fabric.min.js" type="text/javascript"></script>


        <!--        App JS Files-->

        <script src="app/core/app-core.js" type="text/javascript"></script>
        <script src="app/data/app-values.js" type="text/javascript"></script>
        <script src="app/sidebar/sidebarCtrl.js" type="text/javascript"></script>
        <script src="app/drawArea/drawCtrl.js" type="text/javascript"></script>


        <!--        Service Files-->
        
        <script src="app/common/fabricService.js" type="text/javascript"></script>

    </body>
</html>
