<!DOCTYPE html>
<!--
Main HTML file for app
-->
<html ng-app="freehand">
    <head>
        <title>Typo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/index.css" rel="stylesheet" type="text/css"/>
        <link href="app/toolbar/file.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row fh-divider-horizontal fh-menu" ng-controller="toolbarCtrl as tc">
                <div class="col-md-5 fh-actionbar">
                    <button ng-repeat="menu in tc.fileMenu" class="fh-btn" title="{{menu.name}}">
                        <span class="fh-file-image" ng-class="menu.class"></span>
                    </button>
                </div>
                <div class="col-md-2 col-md-offset-4 fh-toolbar">
                    <button class="btn btn-sm btn-toolbar fh-btn fa fa-copy" title="Copy Active DOM"></button>
                    <button class="btn btn-sm btn-toolbar fh-btn fa fa-paste" title="Paste Active DOM"></button>
                    <button class="btn btn-sm btn-toolbar fh-btn fa fa-trash" ng-click="tc.deleteObj()" title="Delete Active DOM"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 fh-divider-vertical fh-sidebar" ng-controller="sidebarCtrl as sc">
                    <div  ng-include="'app/sidebar/sidebar.html'"></div>
                    <div class="btn-group">
                        <button ng-repeat="modes in sc.menuModes" ng-class="{'active':(modes.active === 0)}" type="button" class="btn btn-default">{{modes.name}}</button>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="fh-drawArea" ng-controller="drawCtrl as dc" ng-init="dc.intialize()">
                        <div class="fh-outerbar">
                            <div class="fh-canvas-title">
                                Browser - <span contenteditable="true">Your App title</span>
                            </div>
                        </div>
                        <div>
                            <canvas class="fh-canvas" id="fhCanvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        Libraries-->

        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/fabric.min.js" type="text/javascript"></script>


        <!--        App JS Files-->

        <script src="app/core/app-core.js" type="text/javascript"></script>
        <script src="app/data/app-values.js" type="text/javascript"></script>
        <script src="app/sidebar/sidebarCtrl.js" type="text/javascript"></script>
        <script src="app/drawArea/drawCtrl.js" type="text/javascript"></script>
        <script src="app/toolbar/toolCtrl.js" type="text/javascript"></script>


        <!--        Service Files-->
        
        <script src="app/common/fabricService.js" type="text/javascript"></script>
        <script src="app/common/menuService.js" type="text/javascript"></script>

    </body>
</html>
