/* 
    Created on : 22-Dec-2017, 23:41:47
    Author     : Pradhaban
*/

.fh-tab-pane > div {
    display: inline-block;
    padding: 5px;
    min-width: 70px;
}

.fh-tab {
    cursor: pointer;
    text-align: center;
}

.fh-tab .active{
    border: 1px solid #d6d6d6;
}

.fh-tab-content {
    min-height: 150px;
    border: 1px solid #d6d6d6;
    border-top: none;
}