<div>
    <div class="fh-tab-pane">
        <div class="fh-tab">Tools</div>
    </div>
    <div class="fh-load-option">
        <select>
            <option value="forms">Default</option>
            <option value="person">Person</option>
            <option value="shapes">Shapes</option>
            <option value="map">Maps</option>
        </select>
    </div>
    <div class="fh-tab-content">

        <button ng-repeat="item in sc.sidebarValues" 
                ng-click="sc.createEle(item)" type="button" class="fh-listBtn" ng-class="item.class"></button>
    </div>
</div>